/*Start of contact us section*/
.contact {
	position: relative;
	padding: 180px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(/Images/image5.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-color: rgb(83, 83, 83);
	background-blend-mode: multiply;
}

.contact .contact-content {
	max-width: 800px;
	text-align: center;
}

.contact .contact-content h2 {
	font-size: 45px;
	font-family: 'Playfair Display', serif;
	color: #eff2ee;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
	margin-bottom: 20px;
	letter-spacing: 5px;
}

.contact .contact-content h2:before,
.contact .contact-content h2:after {
	background-color: #eff2ee;
	content: "";
	display: inline-block;
	height: 3px;
	position: relative;
	vertical-align: middle;
	width: 200px;
	margin: 30px;
	border-radius: 5px;
}

.contact .contact-content h2:before {
	right: 0.5em;
	margin-left: -50%;
}

.contact .contact-content h2:after {
	left: 0.5em;
	margin-right: -50%;
}

.contact .contact-content p {
	font-size: 22px;
	color: #eff2ee;
	margin-bottom: 50px;
}

.contact-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.contact-container .contactInfo {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.contact-box i {
	color: #eff2ee;
}

.contact-container .contactInfo .contact-box {
	position: relative;
	padding: 20px 0;
	display: flex;
}

.contact-container .contactInfo .contact-box .contact-icon {
	min-width: 60px;
	height: 60px;
	background: #9A85A6;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}

.contact-container .contactInfo .contact-box .contact-text {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #eff2ee;
	flex-direction: column;
	font-weight: 300;
}

.contact-container .contactInfo .contact-box .contact-text h3 {
	font-weight: 300;
	color: #caa8dd;
}

.contactForm {
	width: 40%;
	padding: 40px;
	background-color: #eff2ee;
}

.contactForm h2 {
	font-size: 30px;
	color: #333;
	font-weight: 500;
}

.contactForm .inputBox {
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
	background: #eff2ee;
}

.contactForm .inputBox span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	margin: 10px 0;
	font-size: 16px;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
	background: #eff2ee;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
	color: #775074;
	font-size: 12px;
	transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
	width: 100px;
	background: #1B1821;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
	color: #eff2ee;
	transition: 0.5s;
	box-shadow: 0px 0px 0 #716070;
}

.inputBox input[type="submit"]:hover {
	background: #716070;
	box-shadow: 8px 6px 0 #1B1821;
}

@media (max-width: 991px) {
	.contact {
		padding: 50px;
	}

	.contact-content {
		padding-top: 110px;
	}

	.contact-container {
		flex-direction: column;
	}

	.contact-container .contactInfo {
		margin-bottom: 40px;
	}

	.contact-container .contactInfo,
	.contactForm {
		width: 100%;
	}
}

/*End of contact us section*/