/*Start of our services section*/
.abtus {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.abtus h1 {
	font-size: 45px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: #eff2ee;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
	margin-bottom: 20px;
	letter-spacing: 5px;
}

.abtus h1:before,
.abtus h1:after {
	background-color: #eff2ee;
	content: "";
	display: inline-block;
	height: 3px;
	position: relative;
	vertical-align: middle;
	width: 200px;
	margin: 30px;
	border-radius: 5px;
}

.abtus h1:before {
	right: 0.5em;
	margin-left: -50%;
}

.abtus h1:after {
	left: 0.5em;
	margin-right: -50%;
}

.abtus p {
	color: #eff2ee;
	width: 65%;
	font-size: 22px;
	text-align: center;
}

@media (max-width: 768px) {

	.abtus h1:before,
	.abtus h1:after {
		width: 300px;
	}
}

.abtus p {
	color: #eff2ee;
	width: 65%;
	font-size: 22px;
	text-align: center;
}

@media (max-width: 768px) {
	.abtus h1 {
		font-size: 35px;
		margin-bottom: 15px;
	}

	.abtus h1:before,
	.abtus h1:after {
		width: 200px;
	}

	.abtus p {
		width: 80%;
		font-size: 18px;
	}
}

@media (max-width: 480px) {
	.abtus h1 {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.abtus h1:before,
	.abtus h1:after {
		width: 0px;
	}

	.abtus p {
		width: 90%;
		font-size: 16px;
	}
}

.services-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 60px 0;
	gap: 40px;

}

.services-container .box {
	position: relative;
	width: 370px;
	height: 490px;
	background-color: #1B1821;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.services-container .box .services-content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 15px;
	padding: 0 30px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.services-container .box .services-content .services-icon {
	color: var(--clr);
	width: 100px;
	height: 100px;
	box-shadow: 0 0 0 1px #1B1821,
		0 0 0 6px var(--clr);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	background-color: #1B1821;
	transition: 0.5s ease-in-out;
}

.services-container .box:hover .services-content .services-icon {
	background: var(--clr);
	color: #1B1821;
	box-shadow: 0 0 0 4px #1B1821,
		0 0 0 500px var(--clr);
}

.services-container .box .services-content .services-text {
	font-family: 'Playfair Display', serif;
	margin-top: 20px;
	font-size: 18px;
	color: #eff2ee;
	font-weight: 500;
	transition: 0.5s ease-in-out;
	line-height: 25px;
}

h3.space {
	margin-bottom: 10px;
	font-size: 25px;
}

.services-container .box .services-content .services-text p {
	color: #999;
	transition: 0.5s ease-in-out;
}

.services-container .box:hover .services-content .services-text p {
	color: #1B1821;
}

.services-container .box .services-content .services-text a {
	position: relative;
	background: var(--clr);
	color: #1B1821;
	padding: 8px 15px;
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	margin-top: 10px;
	transition: 0.5s ease-in-out;
}

.services-container .box:hover .services-content .services-text a {
	background: #1B1821;
	color: var(--clr);
}

.services-container .box .services-content .services-text a:hover {
	transform: scale(1.1);
	margin-top: 20px;
}


.services-background {
	background-image: url(/Images/bg3.jpg);
	background-color: rgb(83, 83, 83);
	background-blend-mode: multiply;
	background-size: cover;
	background-attachment: fixed;
	padding: 50px;
}
/*End of our services section*/

/*Start types of service section*/
.types-background {
	background-image: url(/Images/bg1.png);
	padding-bottom: 80px;
}

.stext {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.stext h1 {
	font-size: 45px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: #d2d3d2;
	text-shadow: 2px 2px 4px rgba(27, 24, 33, 1);
	padding-top: 90px;
	letter-spacing: 5px;
}

.stext h1:before,
.stext h1:after {
	background-color: #d2d3d2;
	content: "";
	display: inline-block;
	height: 3px;
	position: relative;
	vertical-align: middle;
	width: 200px;
	margin: 30px;
	border-radius: 5px;
}

.stext h1:before {
	right: 0.5em;
	margin-left: -50%;
}

.stext h1:after {
	left: 0.5em;
	margin-right: -50%;
}

.stext p {
	padding-top: 20px;
	font-size: 22px;
	width: 65%;
	text-align: center;
}

@media (max-width: 768px) {

	.stext h1:before,
	.stext h1:after {
		width: 300px;
	}
}

.stext p {
	color: #eff2ee;
	width: 65%;
	font-size: 22px;
	text-align: center;
}

@media (max-width: 768px) {
	.stext h1 {
		font-size: 35px;
		margin-bottom: 15px;
	}

	.stext h1:before,
	.stext h1:after {
		width: 200px;
	}

	.stext p {
		width: 80%;
		font-size: 22px;
	}
}

@media (max-width: 480px) {
	.stext h1 {
		font-size: 25px;
		margin-bottom: 10px;
	}

	.stext h1:before,
	.stext h1:after {
		width: 10px;
	}

	.stext p {
		width: 90%;
		font-size: 16px;
	}
}

.service-type {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.types-container {
	width: 90%;
	max-width: 1000px;
	margin: 30px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left {
	width: 70%;
	height: 550px;
	background: url(/Images/image1.jpg) no-repeat center / cover;
	border-radius: 8px;
	outline: 5px solid #716070;
	outline-offset: -1.5rem;
	transition: 0.5s;
	float: left;
	position: relative;
	z-index: 1;
}

.left:hover {
	transform: translateX(-10%);
	margin-right: 50px;
}

.left2 {
	width: 70%;
	height: 550px;
	background: url(/Images/bg3.jpg) no-repeat center / cover;
	border-radius: 8px;
	outline: 5px solid #716070;
	outline-offset: -1.5rem;
	transition: 0.5s;
	float: left;
	position: relative;
	z-index: 1;
}

.left2:hover {
	transform: translateX(-10%);
	margin-right: 50px;
}

.left3 {
	width: 70%;
	height: 550px;
	background: url(/Images/image8.jpg) no-repeat center / cover;
	border-radius: 8px;
	outline: 5px solid #716070;
	outline-offset: -1.5rem;
	transition: 0.5s;
	float: left;
	position: relative;
	z-index: 1;
}

.left3:hover {
	transform: translateX(-10%);
	margin-right: 50px;
}

.right {
	width: 50%;
	min-height: 200px;
	background-color: #716070;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border-radius: 8px;
	color: white;
	margin-left: -150px;
	position: relative;
	z-index: 2;
}

.right h1 {
	font-size: 40px;
	font-weight: lighter;
}

.right p {
	margin: 20px 0;
	font-weight: 500;
	line-height: 25px;
	font-size: 18px;
	text-shadow: 2px 2px 4px rgba(27, 24, 33, 1);
}

@media only screen and (max-width: 768px) {
	.types-container {
		flex-direction: column;
		width: 100%;
		margin: 0 20px;
	}

	.left,
	.left2,
	.left3 {
		margin-top: 50px;
		width: 100%;
		height: 400px;
	}

	.left:hover,
	.left2:hover,
	.left3:hover {
		transform: translateX(5%)
	}

	.right {
		width: 90%;
		margin: 0;
		margin-top: -90px;
	}
}
/*End of types of service section*/

/*Start of testimonials section*/
.swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 500px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
	filter: blur(4px);
	border-radius: 10px;
	background-color: #716070;
}

.swiper-slide-active {
	filter: blur(0px);
	background: #9A85A6;
}

.swiper-slide img {
	display: block;
	width: 100%;
}

.testimonial {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #eff2ee;
}

.testimonialBox {
	position: relative;
	font-size: 20px;
	width: 100%;
	padding: 40px;
	padding-top: 50px;
	color: #eff2ee;
}

.testimonialBox .quote {
	position: absolute;
	top: 20px;
	right: 30px;
	opacity: 0.2;
}

.testimonialBox .testimonial-details {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.testimonialBox .testimonial-details .imgBox {
	position: relative;
	width: 70px;
	height: 70px;
	border-radius: 10px;
	overflow: hidden;
	margin-right: 10px;
}

.testimonialBox .testimonial-details .imgBox img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.testimonialBox .testimonial-details h3 {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #1B1821;
	line-height: 1.1em;
}

.testimonialBox .testimonial-details h3 span {
	font-size: 15px;
	color: #eff2ee;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
	background-image: none;
}

.testimonialBox i {
	font-size: 40px;
	margin-left: 180px;
	padding: 10px;
}

@media (max-width: 387px) {
	.swiper-slide {
		width: 100%;
	}

	.testimonialBox i {
		margin-left: 0;
		margin-top: 10px;
	}
}

.testimonials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #eff2ee;
}

.testimonials h1 {
	font-size: 45px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: #716070;
	text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
	padding-top: 90px;
	letter-spacing: 5px;
}

.testimonials h1:before,
.testimonials h1:after {
	background-color: #716070;
	content: "";
	display: inline-block;
	height: 3px;
	position: relative;
	vertical-align: middle;
	width: 200px;
	margin: 30px;
	border-radius: 5px;
}

.testimonials h1:before {
	right: 0.5em;
	margin-left: -50%;
}

.testimonials h1:after {
	left: 0.5em;
	margin-right: -50%;
}

.testimonials p {
	padding-top: 20px;
	font-size: 22px;
	width: 65%;
	text-align: center;
}

@media (max-width: 768px) {
	.testimonials h1 {
		font-size: 35px;
		margin-bottom: 15px;
	}

	.testimonials h1:before,
	.testimonials h1:after {
		width: 200px;
	}

	.testimonials p {
		width: 80%;
		font-size: 18px;
	}
}

@media (max-width: 480px) {
	.testimonials h1 {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.testimonials h1:before,
	.testimonials h1:after {
		width: 0px;
	}

	.testimonials p {
		width: 90%;
		font-size: 16px;
	}
}

.swiper-button-prev {
	color: #1B1821;
}


.swiper-button-next {
	color: #1B1821;
}

.testimonial-input {
	display: none;
}

.testimonial-input:checked~.main label:nth-child(1) {
	transform: translateX(-600px);
}

.testimonial-input:checked~.main label:nth-child(2) {
	transform: translateX(600px);
}

.testimonial-input:checked~.main label:nth-child(3) {
	transform: translateX(0px);
}

.testimonial-input:checked~.main label:hover img {
	filter: grayscale(0);
	transform: scale(1.06);
}
/*End of testimonials section*/

/*Start of FAQs section*/
.faqs-bg {
	background-image: url(/Images/faq-background.png);
	background-size: cover;
	background-color: rgb(83, 83, 83);
	background-blend-mode: multiply;
	padding-bottom: 10px;
	background-attachment: fixed;

}

.freq {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

.faq {
	max-width: 800px;
	margin-top: 2rem;
	padding-bottom: 15px;
	border-bottom: 3px solid #eff2ee;
	border-radius: 3px;
	cursor: pointer;
}

.question {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	color: #eff2ee;
}


.answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1.4s ease;
	color: #d8dad7;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.answer p {
	padding-top: 1rem;
	line-height: 1.6;
	font-size: 18px;
}

.faq.active .answer {
	max-height: 300px;
	animation: fade 1s ease-in-out;
}

.faq.active svg {
	transform: rotate(180deg);
}

svg {
	transition: transform .5s ease-in;
}

@keyframes fade {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
/*End of FAQs section*/
